<app-menu-header [menuItems]="menuBar" [selectedItem]="selectedMenu" (menuChanged)="updateSelectedMenu($event)">
</app-menu-header>
<div class="grid-container" *ngIf="currentProducts">
 <div class="grid-item" *ngFor="let product of currentProducts; let i = index" [style.background-color]="colorArray[i]">
  <input type="checkbox" [checked]="isItemSelected(product)" (change)="addRemoveProduct($event, product)"
   class="product-select">
  <app-menu-item [product]="product">
  </app-menu-item>
 </div>
</div>
<span class="receipt-button" *ngIf="receiptList.length > 0">
 <img src="/assets/icons/receipt-svgrepo-com.svg" alt="open receipt">
</span>