.grid-container {
 display: flex;
 // grid styling for a more responsive display (does not perfectly match design)
 /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr)); //might be needed auto-fit
    grid-auto-flow: row;
    grid-auto-columns: minmax(195px, 1fr);
    padding: 0px;
    gap: .5rem .5rem;
    justify-items: center; */
 justify-content: flex-start; //change to center if all the content is needed to be aligned by the center
 flex-wrap: wrap;
}

::ng-deep.grid-item {
 width: 195px;
 height: 195px;
 position: relative;

 .product-select {
  position: absolute;
  top: .25rem;
  left: .25rem;
  padding: .25rem;
  z-index: 2;
 }
}

.receipt-button {
 width: 52px;
 height: 52px;
 border-radius: 26px;
 position: fixed;
 bottom: 3rem;
 right: 1.5rem;
 z-index: 4;

 img {
  width: 52px;
  height: 52px;
 }
}

::ng-deep.mat-dialog-container {
 background-color: var(--bkg-color);
 color: var(--text-color);
 padding: 1.5rem .5rem 1.5rem .5rem !important;
 display: flex !important;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 0 !important;

 .modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 18px;

  .receipt-close {
   cursor: pointer;
  }
 }

 .dialog-success-message {
  width: 66%;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
  text-align: center;
  margin-bottom: 36px;
 }

 .receipt-entry {
  display: flex;
  padding: 18px 0px 18px 0px;
  justify-content: center;
  align-items: center;

  .item-name {
   width: 50%;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 700;
   line-height: 27.6px;
   text-align: end;
   padding-right: 15px;
   word-wrap: anywhere;
   overflow-wrap: anywhere break-word;
  }

  .item-quantity {
   width: 25%;
   text-align: end;

   /* Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
   }

   /* Firefox */
   input[type=number] {
    -moz-appearance: textfield;
    width: 90px;
    height: 42px;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    background-color: #f7f7f7;
    border: none;
    text-align: center;
   }
  }

  .item-sum {
   width: 25%;
   font-size: 24px;
   font-weight: 700;
   line-height: 27.6px;
   color: var(--text-highlight-color);
   text-align: end;
  }

  .total-sum {
   width: 50%;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 700;
   line-height: 27.6px;
   text-align: end;
   color: var(--text-highlight-color);
  }
 }

 .dialog-close-button {
  width: 100%;
  height: 51px;
  color: #ffffff;
  background-color: var(--text-highlight-color);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.6px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }
}