.grid-container {
 display: flex;
 // grid-template-columns: repeat(auto-fill, minmax(195px, 1fr)); //might be needed auto-fit
 // grid-auto-flow: row;
 // grid-auto-columns: minmax(195px, 1fr);
 // padding: 0px;
 // gap: .5rem .5rem;
 // justify-items: center;
 justify-content: flex-start; //change to center if all the content is needed to be aligned by the center
 flex-wrap: wrap;
}

::ng-deep.grid-item {
 width: 195px;
 height: 195px;
 position: relative;

 .product-select {
  position: absolute;
  top: .25rem;
  left: .25rem;
  padding: .25rem;
  z-index: 2;
 }
}

.receipt-button {
 width: 52px;
 height: 52px;
 border-radius: 26px;
 position: fixed;
 bottom: 3rem;
 right: 1.5rem;
 z-index: 4;

 img {
  width: 52px;
  height: 52px;
 }
}