/* You can add global styles to this file, and also import other style files */

html,
body {
 height: 100%;
}

body {
 margin: 0;
 font-family: Roboto, "Helvetica Neue", sans-serif;
 --bkg-color: #ffffff;
 --text-color: #333333;
 --text-highlight-color: #F44242;
 --menu-header-color: #f7f7f7;
}

body.dark-mode {
 --bkg-color: #333333;
 --menu-header-color: #ffffff;
 --text-color: #888888;
}

body {
 background: var(--bkg-color);
}